<nav class="navbar">
    <div class="inner-width">
        <a href="/" class="logo"></a>
        <button class="menu-toggler">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div class="navbar-menu">
            <a href="/" style="color: rgb(0, 168, 177)">Suplementos</a>
            <div class="hidden-navbar">
                <a href="/aminoacidos">Aminoacidos</a>
                <a href="/proteina">Proteinas</a>
                <a href="/pre-entreno">PreEntreno</a>
                <a href="/creatina">Creatina</a>
            </div>
            <a href="/nootropicos" style="color: rgb(227, 197, 63);">Nootropicos</a>
        </div>
    </div>
</nav>