<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="icon" href="/images/Icono.png" type="image/gif" sizes="16x16">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/header.css">
        <link rel="stylesheet" href="/stylesheets/suplementos.css">
        <script src="/javascripts/scripts.js"></script>
    </head>
    <body class="body">
        <!-- Page Info -->
        <div class="page-info">
            <p>Somos una pagina de información, NO somos una tienda!</p>
        </div>

        <!-- Header -->
        <%- include('./partials/header.ejs') %>

        <!-- Banner -->
        <div class="product-banner">
            <img src="/images/Banners/Creatina.jpg" alt="Banner-Creatina">
        </div>

        <!-- Products Desc -->
        <div class="products-desc">
            <h1 class="title">Creatina</h1>
            <h3 class="sub-title">¿Qué es la creatina?</h3>
            <p class="paragraphs">La creatina es una sustancia química que se encuentra presente en forma natural en el cuerpo, principalmente en los músculos y también en el cerebro. Se almacena principalmente en los músculos, pero alrededor de 1,5 - 2% de la creatina del cuerpo se convierte en creatinina. Se encuentra comúnmente en la dieta en las carnes rojas y los productos de mar. La creatina también se puede hacer en el laboratorio. La creatina se usa más comúnmente para mejorar el rendimiento físico y para aumentar la masa muscular en los atletas y los adultos mayores. Hay algunas pruebas científicas, que apoyan el uso de la creatina para mejorar el rendimiento deportivo de la gente joven y sana en los breves momentos de actividad de alta intensidad.</p>

            <h3 class="sub-title">Efectos</h3>
            <p class="paragraphs">Existe cierta controversia acerca del efecto beneficioso real que la creatina tiene en el rendimiento deportivo. Los músculos obtienen la energía que necesitan para realizar sus contracciones y provocar movimiento a través de una molécula denominada ATP (Adenosín trifosfato). El ATP es conocido como la moneda energética por excelencia, ya que su metabolización es prácticamente la única manera –o la más fisiológica y habitual– que existe para conseguir energía en las células. A través de la presencia de creatina, este proceso se facilita bastante porque ayuda en la síntesis de ATP por parte de la célula. De manera más clara, podemos decir que la creatina ocasiona una mejora en la producción de la molécula energética ATP. De ahí se deriva una mejor movilidad del músculo y un incremento de su tono y su fuerza, además de que se prolonga el tiempo antes de que se produzca fatiga, por lo que el rendimiento muscular mejora. Además, la creatina produce un aumento en la propia masa muscular, debido a su función estructural, por lo que la capacidad de las fibras de contraerse será mayor cuanto mayores y más desarrolladas estén estas. Pero respecto a este tema también existe un conflicto, ya que parece ser que parte de ese aumento muscular no es tal, sino que se trataría de un incremento del depósito de agua retenida por el músculo.</p>

            <h3 class="sub-title">¿Cuanta creatina tomar?</h3>
            <p class="paragraphs">El protocolo más corriente y usado desde 1990 era el de realizar 4 dosis de 5-7 gramos al día durante 5 días. Es decir, unos 20-25 gramos diarios repartidos en 4 tomas. Pero con el paso de los años se ha visto que este protocolo no es rentable para el músculo y casi toda la creatina se acaba excretando por la orina. Según los estudios actuales la clave para una suplementación eficaz de creatina y poder llenar a tope los depósitos es tomar pequeñas cantidades y retrasar la absorción intestinal, esto da a la creatina más papeletas para acabar en el músculo que en la orina. Por eso se recomienda tomar sólo 0,5-1 gramos en cada toma y un máximo de 6 tomas al día, es decir, 6 gramos al día durante 5-6 días y distribuyendolas en las comidas y no en ayunas como se hacía antes para que así se reduzca el índice de absorción. Está comprobado que esta media tiene iguales resultados que tomar 20 gramos diarios durante 5-6 días, por lo que ahorramos dinero y dejamos descansar a nuestro riñón. Después de estos 5-6 días se realizan dosis de mantenimiento de 2 gramos diarios para mantener altos los niveles de creatina en el músculo durante 8-12 semanas.</p>

            <!-- Product Desc -->
            <div class="product-desc">
                <h3 class="sub-title">TOP Creatina importadas:</h3>
                <h5 class="product-title">1 - JetMASS GAT</h5>
                <img src="/images/Suplementos/Creatinas/PoteCreatina1.png" alt="Creatina-Pote">
                <img src="/images/Suplementos/Creatinas/DescCreatina1.png" alt="Creatina-Etiqueta">
                <p class="product-info">*La base de ingredientes JETMASS® es creatina para apoyar la voluminización muscular (notable como una sensación "bombeada"), aumentar la masa y mejorar el rendimiento del entrenamiento. una mezcla avanzada de creatina para una absorción óptima. Otorga 5 gramos de creatina por servicio.</p>
                <div class="aditional-info">Informacion adicional:</div>
                <ul class="aditional-info-list">
                    <li>Contiene 2 g de glutamina / BCAA para apoyar: Anabolismo muscular y recuperación.</li>
                    <li>Contiene electrolitos y tampones de pH para combatir DOMS.</li>
                    <li>5g de monohidrato de creatina Creapure.</li>
                </ul>

                <h5 class="product-title">2 - RecoverMode Muscle Recovery</h5>
                <img src="/images/Suplementos/Creatinas/PoteCreatina2.png" alt="Creatina-Pote">
                <img src="/images/Suplementos/Creatinas/DescCreatina2.png" alt="Creatina-Etiqueta">
                <p class="product-info">*RECOVER MODE® se trata de unos de los suplementos de Creatina más completo del mercado Combinando de las 2 principales formas de creatina. Creatina HCL y Creatina Monohidrato. Otorga 3 gramos de Creatina por servicio.</p>
                <div class="aditional-info">Informacion adicional:</div>
                <ul class="aditional-info-list">
                    <li>3 gramos de L-GLUTAMINA.</li>
                    <li>3 gramos de CREATINA.</li>
                    <li>1.6 gramos de BETA-ALANINA.</li>
                    <li>1 gramo de L-CARNITINA L-TARTRATO.</li>
                </ul>

                <h5 class="product-title">3 - Cell Tech Hyper-Build MUSCLETECH</h5>
                <img src="/images/Suplementos/Creatinas/PoteCreatina3.png" alt="Creatina-Pote">
                <img src="/images/Suplementos/Creatinas/DescCreatina3.png" alt="Creatina-Etiqueta">
                <p class="product-info">*CELL-TECH® contiene creatina monohidrato y carbohidratos, brindando una poderosa voluminización celular dramática. Esta fórmula original de CELL-TECH ha ayudado a los atletas a obtener ganancias sin precedentes en músculo y tamaño durante más de 15 años. Aportando 4 gramos de creatina por servicio.</p>
                <div class="aditional-info">Informacion adicional:</div>
                <ul class="aditional-info-list">
                    <li>Otorga 1 gramo de taurina que está clínicamente sugerida para mejorar el rendimiento.</li>
                    <li>Esta fórmula está mejorada con electrolitos para ayudar a reemplazar lo que perdió durante sus entrenamientos más intensos.</li>
                    <li>CELL-TECH HYPER-BUILD contiene 4 g de leucina, el aminoácido más poderoso de todos para amplificar la síntesis de proteínas.</li>
                </ul>

                <h5 class="product-title">4 - Platinum 100% Creatine MUSCLETECH</h5>
                <img src="/images/Suplementos/Creatinas/PoteCreatina4.png" alt="Creatina-Pote">
                <img src="/images/Suplementos/Creatinas/DescCreatina4.png" alt="Creatina-Etiqueta">
                <p class="product-info">*Muscletech® aporta 5 gramos de creatina micronizada por servicio para apoyar la masa muscular y aumentar la fuerza a través de una creatina micronizada ultrapura.</p>
                <div class="aditional-info">Informacion adicional:</div>
                <ul class="aditional-info-list">
                    <li>Mejora la recuperación del ejercicio en 24 horas.</li>
                    <li>Incrementa la fuerza.</li>
                    <li>Da apoyo al crecimiento muscular.</li>
                </ul>

                <h5 class="product-title">5 - Creatine Monohydrate MHP</h5>
                <img src="/images/Suplementos/Creatinas/PoteCreatina5.png" alt="Creatina-Pote">
                <img src="/images/Suplementos/Creatinas/DescCreatina5.png" alt="Creatina-Etiqueta">
                <p class="product-info">*MHP® apoya el aumento de la masa muscular y la fuerza aportando 5 gramos de creatina por servicio. Se mezcla fácil e instantáneamente.</p>
                <div class="aditional-info">Informacion adicional:</div>
                <ul class="aditional-info-list">
                    <li>Satura las reservas de ATP de creatina muscular.</li>
                    <li>Aumenta el ATP muscular (energía).</li>
                    <li>Mejora la fuerza, la potencia y la masa muscular.</li>
                </ul>

                <h5 class="product-title">6 - Creatine Universal</h5>
                <img src="/images/Suplementos/Creatinas/PoteCreatina6.png" alt="Creatina-Pote">
                <img src="/images/Suplementos/Creatinas/DescCreatina6.png" alt="Creatina-Etiqueta">
                <p class="product-info">*La creatina de Universal® es una creatina alemana tan pura que está patentada como una de las más puras del mercado. Otorgando 5 gramos de creatina de Monohidrato.</p>
                <div class="aditional-info">Informacion adicional:</div>
                <ul class="aditional-info-list">
                    <li>Ayuda a aumentar la fuerza y ​​el rendimiento y a desarrollar masa magra.</li>
                    <li>Hidrata las células musculares.</li>
                    <li>Crea un entorno anabólico necesario para el crecimiento.</li>
                </ul>

                <h5 class="product-title">7 - Micronized Creatine Powder</h5>
                <img src="/images/Suplementos/Creatinas/PoteCreatina7.png" alt="Creatina-Pote">
                <img src="/images/Suplementos/Creatinas/DescCreatina7.png" alt="Creatina-Etiqueta">
                <p class="product-info">*ON® nos brinda un 99,9% de creatina pura sin sabor sin rellenos ni aditivos para reforzar la fuerza y ​​el rendimiento otorgando 5 gramos de creatina por servicio.</p>
                <div class="aditional-info">Informacion adicional:</div>
                <ul class="aditional-info-list">
                    <li>No contiene azúcar agregado.</li>
                    <li>El polvo de creatina de ON ha sido micronizado para permanecer en solución por más tiempo en nuestro cuerpo.</li>
                    <li>SUPREME ABSORBENCIA – micronizado para obtener el máximo provecho de cada dosis.</li>
                </ul>

                <h5 class="product-title">8 - CellMass 2.0 Post-workout Recovery</h5>
                <img src="/images/Suplementos/Creatinas/PoteCreatina8.png" alt="Creatina-Pote">
                <img src="/images/Suplementos/Creatinas/DescCreatina8.png" alt="Creatina-Etiqueta">
                <p class="product-info">*CELLMASS 2.0® es un suplemento concentrado de recuperación post entrenamiento para promover una recuperación más eficiente al reponer la creatina y la glutamina. Otorga 5 gramos de creatina por servicio.</p>
                <div class="aditional-info">Informacion adicional:</div>
                <ul class="aditional-info-list">
                    <li>Esta fórmula proporciona 5 gramos de creatina, 3 gramos de glutamina y ácido glutámico y 10 gramos de aminoácidos.</li>
                    <li>Es un producto de recuperación versátil que se puede combinar con sus batidos de proteínas post-entrenamiento.</li>
                    <li>Con taurina y proteína de suero hidrolizada, todo diseñado para ayudar a reactivar el proceso de recuperación después de un entrenamiento.</li>
                </ul>

                <h5 class="product-title">9 - Creatine Micronized Dymatize</h5>
                <img src="/images/Suplementos/Creatinas/PoteCreatina9.png" alt="Creatina-Pote">
                <img src="/images/Suplementos/Creatinas/DescCreatina9.png" alt="Creatina-Etiqueta">
                <p class="product-info">*Aumente la fuerza muscular durante los entrenamientos y el ejercicio intenso con monohidrato de creatina micronizada pura de Dymatize® que nos otorga 5 gramos de creatina por servicio.</p>
                <div class="aditional-info">Informacion adicional:</div>
                <ul class="aditional-info-list">
                    <li>La calidad superior del monohidrato de creatina Dymatize puro significa que su cuerpo absorbe más y aumenta los niveles de ATC para un rendimiento más fuerte durante más tiempo.</li>
                    <li>Sin gluten / sin colorantes.</li>
                    <li>Recurso energético crítico para el músculo durante ejercicios de alta intensidad.</li>
                </ul>

                <h5 class="product-title">10 - COR-Performance Creatine</h5>
                <img src="/images/Suplementos/Creatinas/PoteCreatina10.png" alt="Creatina-Pote">
                <img src="/images/Suplementos/Creatinas/DescCreatina10.png" alt="Creatina-Etiqueta">
                <p class="product-info">*Cellucor® se enorgullece de sus fórmulas y los ingredientes que las elaboran. El monohidrato de creatina micronizada descompone la creatina en moléculas más pequeñas para que el cuerpo absorba más y llegue más a los músculos para un rendimiento más duradero otorgando un total de 5 gramos de creatina por servicio.</p>
                <div class="aditional-info">Informacion adicional:</div>
                <ul class="aditional-info-list">
                    <li>Aumenta tu potencial para desarrollar fuerza, músculo y potencia.</li>
                    <li>Enzimas para una mejor velocidad de digestión.</li>
                    <li>Sin gluten / sin colorantes.</li>
                </ul>

                <h3 class="sub-title">TOP Creatina nacionales:</h3>

                <h5 class="product-title">1 - CREATINE MONOHYDRATE star nutrition</h5>
                <img src="/images/Suplementos/Creatinas/PoteCreatina11.png" alt="Creatina-Pote">
                <img src="/images/Suplementos/Creatinas/DescCreatina11.png" alt="Creatina-Etiqueta">
                <p p class="product-info">*STAR NUTRITION CREATINE MONOHIDRATE® es 100% pura creatina micronizada de máxima absorción USP grado farmacológico.La creatina micronizada es la unión de tres aminoácidos que ofrece mayores ventajas que la creatina normal, mejorando su asimilación. Es recomendada durante un plan de entrenamiento para aumentar las fuerza, resistencia y recuperación.</p>
                <div class="aditional-info">Informacion adicional:</div>
                <ul class="aditional-info-list">
                    <li>Aumento muscular.</li>
                    <li>Prevención de fatiga muscular.</li>
                    <li>Aumento de energía.</li>
                </ul>

                <h5 class="product-title">2 - CREATINE MICRONIZED xtrenght</h5>
                <img src="/images/Suplementos/Creatinas/PoteCreatina12.png" alt="Creatina-Pote">
                <img src="/images/Suplementos/Creatinas/DescCreatina12.png" alt="Creatina-Etiqueta">
                <p class="product-info">*XTRENGHT CREATINE® contiene la creatina de mayor calidad que puede ofrecer el mercado, para que vos y tu cuerpo pueda disfrutar y rendir al máximo durante el entrenamiento. La clave de este ingrediente es que desarrolla rápidamente la energía celular, y esto mejora la resistencia para potenciar el crecimiento de tus músculos.</p>
                <div class="aditional-info">Informacion adicional:</div>
                <ul class="aditional-info-list">
                    <li>Mejora la recuperación entre las series.</li>
                    <li>Retrasa la formación de ácido láctico durante el ejercicio y disminuye la fatiga.</li>
                    <li>Aumento de fuerza y potencia.</li>
                </ul>

                <h5 class="product-title">3 - CREATINE ultra tech</h5>
                <img src="/images/Suplementos/Creatinas/PoteCreatina13.png" alt="Creatina-Pote">
                <img src="/images/Suplementos/Creatinas/DescCreatina13.png" alt="Creatina-Etiqueta">
                <p class="product-info">*Cuando se consume CREATINE® de Ultra Tech usted se asegura de recuperar la energía y el poder utilizado durante un entrenamiento intenso. Esto demuestra la importancia de la creatina como un suplemento dietario durante el tiempo de recuperación. También es imposible imaginar el mundo competitivo del deporte de estos días sin la suplementación con creatina. Significativos aumentos en la fuerza, poder y performance deportiva durante los entrenamientos son los resultados más deseados.</p>
                <div class="aditional-info">Informacion adicional:</div>
                <ul class="aditional-info-list">
                    <li>Fuente de energía.</li>
                    <li>Mayor resistencia a la fatiga.</li>
                    <li>Mejor recuperación.</li>
                </ul>

                <h5 class="product-title">4 - CREATINA ena sport</h5>
                <img src="/images/Suplementos/Creatinas/PoteCreatina14.png" alt="Creatina-Pote">
                <img src="/images/Suplementos/Creatinas/DescCreatina14.png" alt="Creatina-Etiqueta">
                <p class="product-info">*CREATINA MICRONIZADA® de Ena Sport es un excelente suplemento pre entrenamiento ya que colabora en la formación de los componentes energéticos, mejora la potencia muscular y retrasa la fatiga muscular, preparando al cuerpo para un mejor rendimiento físico Ha sido demostrado que apoya el crecimiento del tamaño de los músculos, y el aumento de fuerza y poder cuando se la combina con actividades de alta intensidad.</p>
                <div class="aditional-info">Informacion adicional:</div>
                <ul class="aditional-info-list">
                    <li>Aumento muscular.</li>
                    <li>Prevención de fatiga muscular.</li>
                    <li>Aumento de energía.</li>
                </ul>

                <h5 class="product-title">5 - CREATINA body advance</h5>
                <img src="/images/Suplementos/Creatinas/PoteCreatina15.png" alt="Creatina-Pote">
                <img src="/images/Suplementos/Creatinas/DescCreatina15.png" alt="Creatina-Etiqueta">
                <p class="product-info">*CREATINA® de body advance libera energía como combustible inmediato del organismo. Aumenta la resistencia para poder realizar correctamente los ejercicios de los entrenamientos en el gimnasio. La creatina hace que las células que forman los tejidos adquieran un mayor grado de hidratación, dando lugar a un aspecto más musculoso y nos permite retardar la fatiga del entrenamiento al proporcionarnos esta energía que necesitamos para estar a tope en el gimnasio.</p>
                <div class="aditional-info">Informacion adicional:</div>
                <ul class="aditional-info-list">
                    <li>Ayuda al aumento de masa muscular y fuerza.</li>
                    <li>Ayuda en la recuperación y en la intensidad de los entrenamientos.</li>
                    <li>Disminuye y retrasa la fatiga y la producción del ácido láctico.</li>
                </ul>
            </div>
        </div>
    </body>
</html>