<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="icon" href="/images/Icono.png" type="image/gif" sizes="16x16">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/suplementos.css">
        <link rel="stylesheet" href="/stylesheets/header.css">
        <script src="/javascripts/scripts.js"></script>
    </head>
    <body class="body">
        <!-- Page Info -->
        <div class="page-info">
            <p>Somos una pagina de información, NO somos una tienda!</p>
        </div>

        <!-- Header -->
        <%- include('./partials/header.ejs') %>

        <!-- Banner -->
        <div class="product-banner">
            <img src="/images/Banners/Pre-entreno.jpg" alt="Banner-Pre-entreno">
        </div>

        <!-- Products Desc -->
        <div class="products-desc">
            <h1 class="title">Pre-entreno</h1>
            <h3 class="sub-title">¿Qué son los Pre-entrenos?</h3>
            <p class="paragraphs">Los suplementos pre-workout o pre-entreno son complejos nutricionales o sustancias alimenticias que se toman antes de la práctica deportiva y tienen por finalidad mejorar la capacidad del deportista antes de someterse a las rutinas de entrenamientos, para permitirle alcanzar niveles más altos de rendimiento a los que habitualmente conseguiría sin la suplementación, por lo que constituyen una ayuda para sacar el máximo partido posible a la práctica de ejercicio físico habitual.</p>
            <p class="paragraphs">La función de las diferentes sustancias que componen estos suplementos en el organismo es potenciar la energía, la musculatura, y la circulación sanguínea, para incrementar la actividad cardiovascular y la capacidad anaeróbica. La suplementación pre-workout proporciona muchas ventajas a la hora de potenciar la capacidad física de un individuo, sin embargo, se requieren otros factores para dar el 100%, y si no van acompañados de una alimentación equilibrada, el descanso suficiente, una buena condición física, y unos entrenamientos ajustados a las capacidades reales de cada persona, apenas tienen efectos beneficiosos para el deportista.</p>

            <h3 class="sub-title">¿Cuándo debo tomar mi Pre-entreno?</h3>
            <p class="paragraphs">Se aconseja tomar el pre entreno unos 30 minutos antes de comenzar el entrenamiento. Un punto que hay que tener muy en cuenta es que este producto es muy estimulante, por lo que lo ideal es no tomarlo muy cerca de la hora en la que vayamos a acostarnos (aproximadamente 4-6 horas antes). Debes tener también en cuenta que es preferible tomar los <span class="product-intext">suplementos de pre entreno</span> con el estómago vacío. De esta forma, su asimilación será mucho más fácil y rápida.</p>
            <p class="paragraphs">Lo ideal es reservarlos para los días en los que estemos menos concentrados o tengamos una actividad deportiva de alta exigencia. Por eso, lo mejor es alternar períodos de descanso, sin tomar el Pwr, con otros días en el que tomemos este suplemento deportivo. Algunos expertos aconsejan alternar períodos de consumo de hasta 8 semanas, y luego pasar un mes de descanso, y luego volver a tomarlos. No obstante, es muy importante que observemos los efectos y el nivel de tolerancia de nuestro cuerpo para conseguir el rendimiento que deseamos.</p>

            <h3 class="sub-title">Los componentes mas famosos para un Pre-Entreno son:</h3>
            <div class="components-list">
            <ul>
                <li>Cafeína (Caffeine).</li>
                <li>Teanina (Theanine) (+cafeína).</li>
                <li>N-metiltiramina (Mehtyltyramine).</li>
                <li>Citicolina (CDP-Choline).</li>
                <li>Mucuna pruriens.</li>
                <li>Taurina (Taurine).</li>
                <li>L-Tirosina (L-Tyrosine).</li>
                <li>Citrulina Malato (Citrulline Malate).</li>
                <li>Creatina (Creatine).</li>
                <li>Beta Alanina (Beta Alanine).</li>
                <li>Glutamina (Glutamine).</li>
                <li>Niacina (Niacin).</li>
                <li>N Acetilcisteina (N-Acetylcysteine).</li>
                <li>Betaína (Betaine).</li>
                <li>Vitamina C (Ácido Ascórbico)(Ascorbic Acid).</li>
                <li>Arginina (Arginine).</li>
                <li>Agmatina (Agmatine).</li>
                <li>Guaraná (Guarana).</li>
                <li>Teacrina (Theacrine).</li>
                <li>Vitamina B1 (Tiamina)(Thiamin).</li>
                <li>Vitamina B12 (Cobalamina)(Cobalamin).</li>
            </ul>
        </div>

        <!-- Product Desc -->
        <div class="product-desc">
            <h3 class="sub-title">TOP Pre-Entreno importadas:</h3>
            <h5 class="product-title">1 - Pre-Workout Explosion</h5>
            <img src="/images/Suplementos/Pre-entreno/PotePre-entreno1.png" alt="Pre-entreno-Pote">
            <img src="/images/Suplementos/Pre-entreno/DescPre-entreno1.png" alt="Pre-entreno-Etiqueta">
            <p class="product-info">*EXPLOSION® se encuentra cargado con ingredientes poderosos como la beta-alanina Carnosyn ultra premium, la forma más estudiada de creatina, arginina AKG y cafeína anhidra ultra limpia. Explosion es la elección más inteligente que puede hacer para alimentar sus entrenamientos más duros y tomar su fuerza y rendimiento a nuevos niveles.</p>
            <div class="aditional-info">Informacion adicional:</div>
            <ul class="aditional-info-list">
                <li>Aumenta la energía con una dosis de cafeína investigada científicamente.</li>
                <li>Ofrece potentes bombeos musculares.</li>
                <li>Delivers arginine AKG, a unique form of arginine.</li>
            </ul>

            <h5 class="product-title">2 - VAPOR X5 muscletech</h5>
            <img src="/images/Suplementos/Pre-entreno/PotePre-entreno2.png" alt="Pre-entreno-Pote">
            <img src="/images/Suplementos/Pre-entreno/DescPre-entreno2.png" alt="Pre-entreno-Etiqueta">
            <p class="product-info">*La clave de la eficacia extrema de VaporX 5TM® son las dosis de sus ingredientes clave. Mientras que otros pre-entrenamientos pueden tener algunos de los mismos ingredientes, solo VaporX5 Next Gen los tiene en dosis que se correlacionan con estudios clínicos publicados en humanos. Los ingredientes para espolvorear duendes y ocultarlos en mezclas patentadas no se traducen en ganancias.</p>
            <div class="aditional-info">Informacion adicional:</div>
            <ul class="aditional-info-list">
                <li>VaporX5 ™ Ripped contiene el ingrediente clave C. canephora roubsta, que se ha demostrado en dos estudios para ayudar a los sujetos a perder peso.</li>
                <li>Energia Explosiva.</li>
                <li>Mejora el enfoque y la intensidad.</li>
            </ul>

            <h5 class="product-title">3 - PRE-KAGED kaged muscle</h5>
            <img src="/images/Suplementos/Pre-entreno/PotePre-entreno3.png" alt="Pre-entreno-Pote">
            <img src="/images/Suplementos/Pre-entreno/DescPre-entreno3.png" alt="Pre-entreno-Etiqueta">
            <p class="product-info">*Descubra el poder de alto rendimiento de esta fórmula revolucionaria de Kaged Muscle® Supplements. PRE-KAGED es un pre-entrenamiento de dosis máxima para impulsar su sistema para un mayor rendimiento de un suplemento premium con ingredientes naturales para entregar 6.5 g de L-Citrulina, BCAA, Leucina, Cafeína Pura orgánica, antioxidantes y mucho más.</p>
            <div class="aditional-info">Informacion adicional:</div>
            <ul class="aditional-info-list">
                <li>PRE-KAGED® Neuro-Focus Matrix consiste en PurCaf® Organic Caffeine, más dos formas de L-Tyrosine y Taurine junto con B-Vitamins. Te ayuda a concentrarte y permanecer en el juego.</li>
                <li>Libre de gluten.</li>
                <li>Combinación única de concentrados y extractos de frutas, verduras y hierbas.</li>
            </ul>

            <h5 class="product-title">4 - C4 PRE-WORKOUT cellucor</h5>
            <img src="/images/Suplementos/Pre-entreno/PotePre-entreno4.png" alt="Pre-entreno-Pote">
            <img src="/images/Suplementos/Pre-entreno/DescPre-entreno4.png" alt="Pre-entreno-Etiqueta">
            <p class="product-info">*C4 Pre-Workout ® de Cellucor es una potente fórmula pre-entrenamiento, que ofrece una increíble congestión y vascularización muscular, ya que amplifica la efectividad de cada ingrediente presente en su composición.Este no es un pre-entrenamiento para los débiles sino para el guerrero de fin de semana. C4 Ultimate ha sido diseñado para atletas, levantadores de por vida y levantadores que no tienen miedo de trabajar, sudar y apresurarse por su próximo mejor.</p>
            <div class="aditional-info">Informacion adicional:</div>
            <ul class="aditional-info-list">
                <li>Aumenta la fuerza muscular y el rendimiento físico.</li>
                <li>Favorece el desarrollo muscular, la hidratación y el volumen celular.</li>
                <li>Mejora la atención y la motivación durante tus sesiones de entrenamiento.</li>
            </ul>

            <h5 class="product-title">5 - WOKE AF bucked up</h5>
            <img src="/images/Suplementos/Pre-entreno/PotePre-entreno5.png" alt="Pre-entreno-Pote">
            <img src="/images/Suplementos/Pre-entreno/DescPre-entreno5.png" alt="Pre-entreno-Etiqueta">
            <p class="product-info">*Woke ® no es para principiantes, novatos o personas que se acurrucan en la rejilla de sentadillas. Esta gran dosis de estimulante ha sido formulada para aquellos con la tolerancia más fuerte. 3 estimulantes diferentes combinados con potenciadores de la cognición probados y un potente mecanismo de entrega lo ayudarán a mantenerse DESPERTADO durante los entrenamientos más intensos, los turnos de trabajo más largos, los cementerios y las sesiones de estudio.</p>
            <div class="aditional-info">Informacion adicional:</div>
            <ul class="aditional-info-list">
                <li>Cafeína aumentada a 333 mg, WOKE AF está específicamente formulado para quienes ya han desarrollado una alta tolerancia a los estimulantes.</li>
                <li>Bombeos y Enfoque.</li>
                <li>6 gramos de Malato de L-citrulina para maximizar el flujo sanguíneo (refuerzo de óxido nítrico).</li>
            </ul>

            <h3 class="sub-title">TOP aminoacidos nacionales:</h3>

            <h5 class="product-title">1 - PRE WAR ena sport</h5>
            <img src="/images/Suplementos/Pre-entreno/PotePre-entreno6.png" alt="Pre-entreno-Pote">
            <img src="/images/Suplementos/Pre-entreno/DescPre-entreno6.png" alt="Pre-entreno-Etiqueta">
            <p p class="product-info">*PRE WAR ® es la siguiente evolución en pre entrenamientos. Diseñado con precisión para desafiar tus límites, favorece la concentración, el aumento de energía, la fuerza, el tamaño muscular y la recuperación. Entrena con PRE WAR más completo y con fórmula mejorada.</p>
            <div class="aditional-info">Informacion adicional:</div>
            <ul class="aditional-info-list">
                <li>Ayuda al aumento de masa muscular y fuerza.</li>
                <li>Ayuda en la recuperación y en la intensidad de los entrenamientos.</li>
                <li>Disminuye y retrasa la fatiga y la producción del ácido láctico.</li>
            </ul>

            <h5 class="product-title">2 - PUMP V8 star nutrition</h5>
            <img src="/images/Suplementos/Pre-entreno/PotePre-entreno7.png" alt="Pre-entreno-Pote">
            <img src="/images/Suplementos/Pre-entreno/DescPre-entreno7.png" alt="Pre-entreno-Etiqueta">
            <p class="product-info">*PUMP V8 ® es el nuevo pre-entreno de Star Nutrition con una fórmula 100% renovada. Contiene los 8 ingredientes activos que necesitas para entrenar intensamente, por más tiempo, con mayor volumen de sangre en los músculos y super motivado. Además es muy bajo en calorías y tiene un sabor delicioso y refrescante. Sin ingredientes de relleno.</p>
            <div class="aditional-info">Informacion adicional:</div>
            <ul class="aditional-info-list">
                <li>Otorga un total de 160 mg Cafeína Anhidra por servicio.</li>
                <li>Favorece el desarrollo muscular, la hidratación y el volumen celular.</li>
                <li>Maximos bombeos.</li>
            </ul>

            <h5 class="product-title">3 - PRE N.O. EXPLOSIVE ENERGY XP ultra tech</h5>
            <img src="/images/Suplementos/Pre-entreno/PotePre-entreno8.png" alt="Pre-entreno-Pote">
            <img src="/images/Suplementos/Pre-entreno/DescPre-entreno8.png" alt="Pre-entreno-Etiqueta">
            <p class="product-info">*Diseñamos PRE N.O.EXPLOSIVE ENERGY XP® , es un activador completo pre-entrenamiento, para ayudar a entregar energía y resistencia aumentadas, respaldar la concentración mental y la fuerza muscular, y proveer la mayor intensidad para ayudar a atletas de todos los niveles a maximizar la performance durante el entrenamiento.</p>
            <div class="aditional-info">Informacion adicional:</div>
            <ul class="aditional-info-list">
                <li>La mayor concentración de Beta Alanina en el mercado de los pre entrenos (1800 mg por porción).</li>
                <li>Activador de óxido nítrico.</li>
                <li>Mayor fuerza y energía.</li>
            </ul>

            <h5 class="product-title">4 - Pre-Workout TAURUS pulver</h5>
            <img src="/images/Suplementos/Pre-entreno/PotePre-entreno9.png" alt="Pre-entreno-Pote">
            <img src="/images/Suplementos/Pre-entreno/DescPre-entreno9.png" alt="Pre-entreno-Etiqueta">
            <p class="product-info">*Taurus ® es un pre-workout que combina carbohidratos y aminoácidos especialmente seleccionados para proveer energía, mejorar el rendimiento, prevenir el daño de las fibras musculares y favorecer la síntesis proteica. Es un suplemento a base de L-Arginina, L-Glutamina, Maltodextrina, Taurina, L-Leucina y Vitamina C. Libre de gluten (sin tacc).</p>
            <div class="aditional-info">Informacion adicional:</div>
            <ul class="aditional-info-list">
                <li>Favorece la rápida recuperación, la síntesis proteica y previene el daño de las fibras musculares.</li>
                <li>Contiene L-arginina, aminoácido esencial que estimula la función inmunológica, la síntesis de creatina y de hormona de crecimiento.</li>
                <li>Energia Maxima.</li>
            </ul>

            <h5 class="product-title">5 - NITROX xtrenght</h5>
            <img src="/images/Suplementos/Pre-entreno/PotePre-entreno10.png" alt="Pre-entreno-Pote">
            <img src="/images/Suplementos/Pre-entreno/DescPre-entreno10.png" alt="Pre-entreno-Etiqueta">
            <p class="product-info">*NITROX ® es un potente generador concentrado de óxido nítrico que favorece la llegada de nutrientes y oxígeno a los músculos. Varios estudios demuestran que el óxido nítrico produce vasodilatación, aumentando la llegada de oxígeno y nutrientes a los músculos, dando como resultado una mayor congestión, fuerza, recuperación y crecimiento muscular.</p>
            <div class="aditional-info">Informacion adicional:</div>
            <ul class="aditional-info-list">
                <li>Tiene como ingrediente principal Arginina Alfa Cetoglutarato (AKG), un potente generador de óxido nítrico. Es un suplemento de élite para deportistas de alta rendición y de los más recomendados en el mercado.</li>
                <li>Aumenta la velocidad de recuperación y la resistencia.</li>
                <li>Congestión muscular por más tiempo.</li>
            </ul>
        </div>


    </div>

        <!-- BOOTSTRAP -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
    </body>
</html>